.creazione-squadra-container {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}

.container-dashboard {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.profile {
  margin-top: 0.67em;
  position: absolute;
  right: 1%;
  top: 1%;
  padding: 0px 20px;
  box-shadow: -4px 4px 5px rgb(0, 0, 0, 0.1);
  background-color: rgb(10, 133, 130);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.toggle-menu-profile {
  align-items: end;
  display: none;
  flex-direction: column;
  padding-bottom: 10px;
}

.profile-name-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
}

.profile-name-container > img {
  width: 20px;
  height: 20px;
  border: solid 2px;
  border-radius: 100%;
  border-color: white;
  padding: 2px;
}

.name {
  text-align: end;
  color: white;
}

.admin-button {
  display: none;
  text-align: end;
}

.scrollable-list {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  padding: 10px 0;
  width: 100%;
}

.title {
  max-width: 300px;
  padding-right: 100px;
}

.nome-squadra {
  max-width: 300px;
}

.squadra-desc {
  resize: none;
}

.squadra-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.selected-count-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.selected-count {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.creazione-squadra-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.lista-container {
  align-items: center;
}

#create-btn:disabled {
  background-color: #cccccc; /* Colore di sfondo grigio */
  color: #666666; /* Colore del testo più scuro */
  cursor: not-allowed; /* Cambia il cursore per indicare che non è cliccabile */
  border: 1px solid #999999; /* Bordo più chiaro */
  opacity: 0.6; /* Riduci l'opacità per dare un effetto "spento" */
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: left;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.search-results {
  margin-top: 8px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  position: absolute;
  z-index: 1;
  width: 170px;
}

.search-results div {
  padding: 8px;
  cursor: pointer;
}

.search-results div:hover {
  background-color: #f0f0f0;
}